rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSupplier(uid) {
      return request.auth.uid != null && get(/databases/$(database)/documents/users/$(uid)).data.clientstatus == false
    }

    match /{document=**} {
      allow read, write: if false;
    }
    match /private/{docId} {
      allow read: if true;
    }
    match /users/{userId} {
      allow read, write: if (request.auth.uid == userId);
      //Only write a product if supplier
      match /products/{productId} {
        allow write: if isSupplier(userId)
      }
    }
    match /rides/{rideId} {
      //Only a client can create
      allow create: if request.auth.uid == request.resource.data.client;
      //Riders and clients can update
      allow update: if resource.data.client == request.auth.uid 
        || resource.data.rider == request.auth.uid;
      //Only riders and clients can query
      allow read: if resource.data.client == request.auth.uid 
        || resource.data.rider == request.auth.uid;
    }
  }
}