rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSupplier(uid) {
      return request.auth.uid != null && get(/databases/$(database)/documents/users/$(uid)).data.clientStatus == false;
    }

    function isOwner(uid) {
      return request.auth.uid == uid;
    }

    function isAuthenticated() {
      return request.auth.uid != null;
    }

    function isAddressValid(uid) {
      return isOwner(uid) 
      && request.resource.data.region != null
      && request.resource.data.town != null
      && request.resource.data.address != null;
    }

    match /{document=**} {
      allow read, write: if false;
    }
    match /private/{docId} {
      allow read, write: if false;
    }
    match /users/{userId} {
      //A user can do everything apart from delete their profile
      allow get, create, update: if isOwner(userId);
      //Only write a product if supplier
      //Any authenticated user can view products
      match /products/{productId} {
        allow write: if isSupplier(userId);
        allow read: if isAuthenticated();
      }
      match /addresses/{address} {
        allow update, delete: if isOwner(userId);
        allow create: if isAddressValid(userId);
        allow read: if isOwner(userId);
      }
    }
    match /rides/{rideId} {
      //Only a client can create
      allow create: if request.auth.uid == request.resource.data.client;
      //Riders and clients can update
      allow update: if resource.data.client == request.auth.uid 
        || resource.data.rider == request.auth.uid;
      //Only riders and clients can query
      allow read: if resource.data.client == request.auth.uid 
        || resource.data.rider == request.auth.uid;
      //Only clients can delete(cancel) a ride if the ride status is not true
      allow delete: if resource.data.client == request.auth.uid
        && resource.data.ridestatus != true;
    }
  }
}